.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.darkmode-toggle {
  z-index: 7;
}
.darkmode-layer--button {
  z-index: 6;
}

.rectangle-ui {
  width: 32.46044rem;
  height: 22.94463rem;
  flex-shrink: 0;
  background: rgba(27, 114, 232, 0.09);
  filter: blur(2px);
  position: absolute;
}

.rectangle-ui--1 {
  transform: rotate(-61.351deg);
  top: 40%;
  left: -300px;
}
.rectangle-ui--2 {
  transform: rotate(-141.246deg);
  top: 50%;
  left: -350px;
}
.rectangle-ui--3 {
  transform: rotate(-130.003deg);
  top: 20%;
  right: -300px;
}
.rectangle-ui--4 {
  transform: rotate(-45.794deg);
  top: 35%;
  right: -300px;
}
