.bottom-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-container .bg {
  width: 629.257px;
  height: 527.237px;
  transform: rotate(-141.246deg);
  flex-shrink: 0;
  background: rgba(27, 114, 232, 0.09);
  filter: blur(2px);
}
